In [2]:
Introduction to datatypes in python :

SyntaxError: invalid syntax (1869873550.py, line 1)

In [3]:
#Introduction to datatypes in python :

In [ ]:
1. strings ====== str 
2. numbers ====== integers ===== int and floats ==== float (decimal ===== 0.1, 0.2)
3. lists ===== list
4. tuples ===== tuple
5. dictionaries ===== dict

In [ ]:
 Note : python is a case sensitive programming language.

In [ ]:
classification of datatypes in python:

In [ ]:
Broadly datatypes are classified into 2 different categories:
1. mutable datatypes ===== which we can edit/ alter ===== flexible in nature
2. immutable datatypes ===== which we cannot edit or alter ===== fixed in nature

In [ ]:
Introduction to string datatype
Defination: A string is a series of characters declared in quotes.
Classification: It is classified as an immutable datatype.

In [ ]:
How to declare the String datatype?
There are 2 approaches
1. Single Quote
2. Double Quote

In [4]:
name = 'joseph'   #this is single quote
print (name)

joseph

In [5]:
name2 = "kavya"    #this is double quote
print(name2)

kavya

In [ ]:
Introduction to string methods:

In [6]:
type(name)

str

In [7]:
type (name2)

str

In [8]:
fullname = 'zeba ansari'
print (fullname)

zeba ansari

In [9]:
#req: to correct the format , capital letters for names

In [10]:
print (fullname.title())

Zeba Ansari

In [11]:
# req : I want the entire name in capitals

In [12]:
print (fullname.upper())

ZEBA ANSARI

In [13]:
# req : I want the entire name in small case letters

In [14]:
print (fullname.lower())

zeba ansari

In [ ]:
Introduction to Python Programming :

In [15]:
#Understanding the variables in Python:

In [24]:
x = 2 
y = 3

z = x+y

print(z)

5

In [25]:
print(z)

5

In [ ]:
Rules for declaring the variables in python

In [ ]:
Rule No 1: No Namespaces while declaring the variable names in Python

In [28]:
 first name = 'Faiyaz'

print(first name)

SyntaxError: invalid syntax (1015647185.py, line 1)

In [29]:
first name = 'Faiyaz'

print(firstname)

SyntaxError: invalid syntax (3676109549.py, line 1)

In [30]:
firstname = 'Faiyaz'

print(firstname)

Faiyaz

In [ ]:
Important Rule: there are no spaces while declaring variables

In [ ]:
Rule No 2: A variable name should not start with a number

In [34]:
1name = 'karthik'
print(1name)

SyntaxError: invalid decimal literal (1410008898.py, line 1)

In [35]:
name1 = 'karthik'
print(name1)

karthik

In [ ]:
Rule No3: A variable should not contain any special characters.
@#$%^&*

In [37]:
name@ = "deepak"
print(name@)

SyntaxError: invalid syntax (367995000.py, line 1)

In [38]:
name = "deepak"
print(name)

deepak